<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Restaurants Page</title>
        <link rel="stylesheet" href="/archive.css">
        <script src="/archive.js"></script>
    </head>
    <body>
        <%- include('nav.ejs') %> 
        <h1>Restaurant Archive</h1>
        <div class="post-container">
            <% resPosts.forEach(post => { %>
                <div class="allPosts">
                    <% if (post.imgUrl) { %>
                        <img src="<%= post.imgUrl %>" alt="food img" class="food">
                    <% } %>
                    <div class="postDetails">
                    <h2><%= post.dish %></h2>
                    <p><em>posted: </em><%= post.date %></p>
                    <p><%= post.review %></p>
                    <% if (!Array.isArray(post.flavors)) { post.flavors = [post.flavors]; } %>
                    <p><%= post.flavors.join(' ') %><%=post.other %></p>
                    <!-- <% console.log(post.isOtherChecked) %> -->
                    <p><%= post.rating%></p>
                    <% if (post.url) { %>
                        <a href="<%= post.url %>">VISIT LINK -></a>
                    <% } %>
                    </div>
                </div>
            <% })%> 
        </div>
        <footer>
            <p>© 2025 FLAVORS & FORTUNES. <br>Guided by the All-Knowing Golden Masters.</p>
        </footer>
    </body>
</html>